body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

body {
  background-color: beige;
}

/* ALL CHARACTERS*/

#eggState1--X- {
  visibility: hidden;
}
#eggState2--X- {
  visibility: hidden;
}
#eggState3--X- {
  visibility: hidden;
}

#child1--X- {
  visibility: hidden;
}
#child2--X- {
  visibility: hidden;
}

#teen1--X- {
  visibility: hidden;
}
#teen2--X- {
  visibility: hidden;
}

#adult1--X- {
  visibility: hidden;
}
#adult2--X- {
  visibility: hidden;
}
#adult3--X- {
  visibility: hidden;
}
#adult4--X- {
  visibility: hidden;
}
#adult5--X- {
  visibility: hidden;
}
#adult6--X- {
  visibility: visible;
}

/* END OF LIST */

#screen-container--X- {
  background-color: gray;
  width: 200px;
}

#device-buttons--X- {
  margin-bottom: 100px;
}

#top-bar--X-,
#bottom-bar--X- {
  background-color: rgb(217, 217, 217);
  height: 25px;
  width: inherit;
}

#main-screen--X- {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(154, 154, 154);
  height: 120px;
  width: inherit;
}

.character--X- {
  position: absolute;
  height: 50px;
}

.egg--X- {
  height: 55px;
}

.child--X- {
  height: 20px;
}

.child2--X- {
  height: 30px;
}

.teen--X- {
  height: 40px;
}

.adult--X- {
  height: 50px;
}

.poopEmote--X- {
  position: absolute;
  flex-wrap: nowrap;
  height: 27px;
}

/* RIGHT */
#poop1--X- {
  height: 24px;
  margin-left: 170px;
  visibility: visible;
}
#poop3--X- {
  margin-left: 100px;
  visibility: hidden;
}
/* LEFT */
#poop2--X- {
  margin-right: 170px;
  visibility: visible;
}
#poop4--X- {
  height: 22px;
  margin-right: 90px;
  visibility: hidden;
}

#sickAlert--X- {
  position: absolute;
  height: 30px;
  margin-left: 150px;
  margin-bottom: 80px;
  visibility: visible;
}

#health-screen--X- {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  z-index: 9;
  background-color: rgb(154, 154, 154);
  visibility: hidden;
}

.hearts--X- {
  height: 25px;
}

.health-text--X- {
  margin: 0;
}

#hunger-hearts--X-,
#happy-hearts--X- {
  display: flex;
  gap: 5px;
  padding: 5px;
}

#food-screen--X- {
  display: flex;
  position: absolute;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(154, 154, 154);
  width: inherit;
  height: inherit;
  z-index: 9;
  visibility: hidden;
}

#foodButton--X-,
#healthButton--X- {
  width: 50px;
}

#mealButton--X-,
#snackButton--X- {
  font-weight: bolder;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

#mealButton--X-:hover,
#snackButton--X-:hover {
  color: white;
}

#top-bar--X- {
}

#bottom-bar--X- {
}

/* FLIP */
#character--X-:hover,
.poopEmote--X-:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@keyframes leftToRight {
  0% {
    margin-left: 0px;
  }
  24% {
    margin-left: 0px;
  }
  25% {
    margin-left: 70px;
  }
  49% {
    margin-left: 70px;
  }
  50% {
    margin-left: 0px;
  }
  74% {
    margin-left: 0px;
  }
  75% {
    margin-right: 70px;
  }
  99% {
    margin-right: 70px;
  }
  100% {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@keyframes flippy {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  49% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  99% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  padding: 20px;
  border-radius: 2000px 2000px 1200px 1200px;
  width: 430px;
}

#button-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: -20px;
  gap: 10px;
  width: 10px;
}

#food-button-container {
}

#hidden-food-button-container {
}
#text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  margin-bottom: -40px;
  flex: 1;
  gap: -10px;
}

#button-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  gap: 10px;
  width: 100px;
  margin: 40px;
}

button {
  padding: 6px 30px;
}

.tamaPictures {
  height: 300px;
  width: 300px;
  image-rendering: pixelated;
}

#stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 600px;
}

.stat-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  padding: 13px;
  width: 200px;
  height: 50px;
}

#test-screen {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 50px 30px 0px 30px;
  width: 100px;
  height: 100px;
  background-color: gray;
}

#eggAnimation {
}

.poop {
  height: 30px;
  display: none;
}

.egg {
  height: 55px;
}

.child {
  height: 30px;
}

.left {
  margin-left: -50px;
}

.right {
  margin-right: -50px;
}

.child-low {
  height: 14px;
}

.child2 {
  height: 40px;
}

.teen {
  height: 50px;
}

.adult {
  height: 60px;
}

#hearts-container,
#happy-container {
  display: flex;
  gap: 2px;
}

.heart {
  height: 30px;
}
