#tamagochi-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  height: 330px;
  width: 330px;
  padding: 60px;
  border-radius: 50% 60% 50% 50% / 70% 70% 40% 40%;
}

#main-screen {
  margin-top: 30px;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 250px;
  height: 250px;
  justify-content: space-between;
  align-items: center;
}

#screen-top-items,
#screen-bottom-items {
  display: flex;
  background-color: rgb(78, 70, 83);
  width: inherit;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
}

.screen-buttons {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: none;
}

#center-screen {
  display: flex;
  background-color: aqua;
  height: 250px;
  width: 250px;
}

#food-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: inherit;
  width: 250px;
  font-size: 25px;
  font-weight: bolder;
  visibility: hidden;
}

.food-text:hover,
.snack-text:hover {
  color: white;
}

#health-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background-color: rgb(236, 167, 167);
  height: 50px;
  width: 250px;
}

#heart-container,
#happy-container {
  display: flex;
  gap: 20px;
}

.hearts {
  background-color: red;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.screen-buttons:hover {
  background-color: gray;
  width: 22px;
  height: 22px;
}

#bottom-buttons {
  display: flex;
  gap: 60px;
  margin-bottom: -20px;
}

#button2 {
  margin-top: 20px;
}

.bottom-button {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}
