body {
  background-color: rgb(230, 255, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: 50px;
}
#options {
  margin-top: 10rem;
}
#optionsButton {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

:root {
  /* --mintGreen: rgb(113, 249, 177); */
  --mintGreen: rgb(113, 249, 177);
  --offWhite: rgb(251, 252, 228);
  --hotPink: rgb(179, 79, 186);
  --darkRed: rgb(206, 35, 35);
  --lightYellow: rgb(245, 251, 132);
}

#tamagotchi-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 50px 10px;
  border-radius: 95% 95% 69% 69%;
  flex-direction: column;
  width: 300px;
  height: 240px;
  /* box-shadow: 0px 50px 700px 10px black; */
  background-color: var(--offWhite);
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.5), 30px 20px 200px 2px black;
	background-image: linear-gradient(-145deg, rgba(65, 65, 65, 0.3) 0%, transparent 100%);
}
#screen-container {
  margin-top: 30px;
  size-adjust: 20px 20px;
  box-shadow: 0px 0px 13px -5px black;
}

.screen-texture {
  pointer-events: none;
  position: absolute;
  z-index: 20;
  width: inherit;
  height: inherit;
  opacity: 25%;
}
#bottom-texture,
#top-texture {
  opacity: 20%;
}

#signatureText {
  color: var(--offWhite);
  text-shadow:2px 1px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: -285px;
  margin-top: 40px;
  transform: rotate(90deg);
}

/* ALL CHARACTERS*/

#eggState1 {
  visibility: hidden;
}
#eggState2 {
  visibility: hidden;
}
#eggState3 {
  visibility: hidden;
  /* huh */
}

#child1 {
  visibility: hidden;
}
#child1-low {
  visibility: hidden;
}
#child1-sick {
  visibility: hidden;
}
#child1-side {
  visibility: hidden;
}
#child1-eat {
  visibility: hidden;
}

#child2 {
  visibility: hidden;
}
#child2-small {
  visibility: hidden;
}
#child2-side {
  visibility: hidden;
}
#child2-eat {
  visibility: hidden;
}

#teen1 {
  visibility: hidden;
}
#teen1-eat {
  visibility: hidden;
}
#teen1-sick {
  visibility: hidden;
}

#teen2 {
  visibility: hidden;
}
#teen2-lips {
  visibility: hidden;
}
#teen2-eat {
  visibility: hidden;
}
#teen2-sick {
  visibility: hidden;
}

#adult1 {
  visibility: hidden;
}
#adult1-eat {
  visibility: hidden;
}
#adult1-sick {
  visibility: hidden;
}

#adult2 {
  visibility: hidden;
}
#adult2-eat {
  visibility: hidden;
}
#adult2-sick {
  visibility: hidden;
}
#adult2-lips {
  visibility: hidden;
}

#adult3 {
  visibility: hidden;
}
#adult3-eat {
  visibility: hidden;
}
#adult3-sick {
  visibility: hidden;
}

#adult4 {
  visibility: hidden;
}
#adult4-eat {
  visibility: hidden;
}
#adult4-sick {
  visibility: hidden;
}
#adult3-eat {
  visibility: hidden;
}
#adult4-lips {
  visibility: hidden;
}

#adult5 {
  visibility: hidden;
}
#adult5-eat {
  visibility: hidden;
}
#adult5-sick {
  visibility: hidden;
}

#adult6 {
  visibility: hidden;
}

/* END OF LIST */

#screen-container {
  background-color: gray;
  width: 200px;
}

#top-bar,
#bottom-bar {
  background-color: rgb(217, 217, 217);
  height: 25px;
  width: inherit;
}

#main-screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(154, 154, 154);
  height: 120px;
  width: inherit;
}

.character {
  position: absolute;
  height: 50px;
}

.right {
  margin-right: -90px;
}
.rightSmall {
  margin-right: -40px;
}

.left {
  margin-left: -90px;
}
.leftSmall {
  margin-left: -40px;
}

.egg {
  height: 55px;
}

.child {
  height: 20px;
}

#child1-low,
#child1-sick {
  height: 10px;
}

#child1-side {
}
#child1-eat {
  height: 23px;
}

#child2 {
  height: 35px;
}
#child2-small {
  height: 32px;
}
#child2-side {
  height: 36px;
}
#child2-eat {
  height: 36px;
}

.teen {
  height: 40px;
}
#teen1-eat {
}
#teen1-sick {
}

#teen2-lips {
}
#teen2-eat {
}
#teen2-sick {
}

.adult {
  height: 50px;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.poopEmote {
  position: absolute;
  flex-wrap: nowrap;
  height: 27px;
}

/* RIGHT */
#poop1 {
  height: 24px;
  margin-left: 170px;
  visibility: hidden;
}
#poop3 {
  margin-left: 100px;
  visibility: hidden;
}
/* LEFT */
#poop2 {
  margin-right: 170px;
  visibility: hidden;
}
#poop4 {
  height: 22px;
  margin-right: 90px;
  visibility: hidden;
}

#cleaning-line {
  visibility: hidden;
  position: absolute;
  height: 7.5rem;
  margin-right: -190px;
}

.cleanAnimation {
  animation: cleaning;
  animation-duration: 0.9s;
}

#sickAlert {
  position: absolute;
  height: 30px;
  margin-left: 150px;
  margin-bottom: 80px;
  visibility: visible;
}

#gravestone {
  height: 60px;
  visibility: hidden;
}

#health-screen {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  z-index: 9;
  background-color: rgb(154, 154, 154);
  visibility: hidden;
}

.hearts {
  height: 25px;
}

.health-text {
  margin: 0;
}

#hunger-hearts,
#happy-hearts {
  display: flex;
  gap: 5px;
  padding: 5px;
}

#food-screen {
  display: flex;
  position: absolute;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(154, 154, 154);
  width: inherit;
  height: inherit;
  z-index: 9;
  visibility: hidden;
}

#foodButton {
  width: 20;
}

#mealButton,
#snackButton {
  font-weight: bolder;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.foodSprite {
  position: absolute;
  height: 20px;
  visibility: hidden;
  margin-left: -35px;
}

#meal2 {
  height: 22px;
  margin-bottom: 24px;
  margin-left: -80px;
}

#snack1,
#snack1Half {
  margin-bottom: 52px;
  margin-right: 100px;
}

#snack2,
#snack2Half {
  visibility: hidden;
  margin-right: 100px;
}

#mealButton:hover,
#snackButton:hover {
  color: white;
}

#lights-screen {
  visibility: hidden;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: rgb(154, 154, 154);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
}
#lightsOnButton,
#lightsOffButton {
  font-weight: bolder;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
#lightsOnButton:hover,
#lightsOffButton:hover {
  color: white;
}
#lights-off-screen {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  background-color: rgb(0, 0, 0);
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: right;
}
#sleeping-alert {
  display: flex;
  color: white;
  width: inherit;
  height: inherit;
  margin-left: 130px;
  margin-top: 24px;
}

#top-bar,
#bottom-bar {
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}

.screenButons {
  height: 15px;
  width: 15px;
}

#happyAlert {
  visibility: hidden;
  position: absolute;
  margin-bottom: 60px;
  margin-right: -100px;
  height: 28px;
}

#madAlert1 {
  visibility: hidden;
  height: 13px;
  margin-right: -100px;
}
#madAlert2 {
  visibility: hidden;
  height: 30px;
  margin-right: -117px;
}

.madAlerts {
  position:absolute;
  margin-bottom: 60px;
}

#alertButtonImage {
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
  background-color: black;
  height: 12px;
  width: 12px;
}

#bottom-bar {
}

/* FLIP */
#character:hover,
.poopEmote:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@keyframes leftToRight {
  0% {
    margin-left: 0px;
  }
  24% {
    margin-left: 0px;
  }
  25% {
    margin-left: 70px;
  }
  49% {
    margin-left: 70px;
  }
  50% {
    margin-left: 0px;
  }
  74% {
    margin-left: 0px;
  }
  75% {
    margin-right: 70px;
  }
  99% {
    margin-right: 70px;
  }
  100% {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@keyframes flippy {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  49% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  99% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes cleaning {
  0% {
    margin-right: -190px;
  }
  100% {
    margin-right: 190px;
  }
}
